.reactHookController {
  margin-top: 1em;
}

.reactHookController > div{
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  
}

@media only screen and (min-device-width: 768px){
  .form {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.inputContainer, .textareaContainer  {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-bottom: 8px;
  align-items: center;
}

.inputContainer input {
  flex-grow: 1;
  height: 32px;
}

.textareaContainer textarea {
  flex-grow: 1;
}
.inputContainer label, .textareaContainer label  {
  flex-basis: 22%;
  font-size: 18px;
  margin-right: 12px;
}

form button[type="submit"] {
  margin-top: 24px !important;
  margin-bottom: 26px !important;
}
